.carousel {
    position: relative;
    width: 700px;
    height: 280px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.carousel-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 3640px;
}
.carousel-wrap,
.carousel-item,
.carousel-item img {
    height: 100%;
}
.carousel-item,
.carousel-item img {
    width: 700px;
}
.carousel-item {
    float: left;
}

.carousel-nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-25%, 0);
}
.carousel-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding: 0 10px 1px;
    /*height: 10px;
    line-height: 10px;*/
    border-radius: 10px;
    background: rgba(255,255,255,.3);
}
.carousel-nav li {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    background: #ccc;
    cursor: pointer;
}
.carousel-nav li.selected {
    background: orange;
}